@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Kumbh Sans';
    font-style: normal, bold, extrabold;
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000;
    font-display: swap;
    src: url(./font) format('ttf');
  }
}

@layer components {
  .corps {
    border-color: red;
    display: none;
    transition: display 2s;
  }
  .header {
    position: relative;
  }
  .header::after {
    position: absolute;
    content: '';
    background-color: nonehsl(20, 1%, 53%);
    height: 8px;
    width: 100%;
    bottom: -2.7rem;
    left: 0;
    z-index: -2;
    /* display: none; */
    transition: all 0.3s;
  }
  .header:hover:after {
    background-color: hsl(26, 100%, 55%);
  }
  .cart {
    position: relative;
  }
  .cart::before {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    content: attr(data-cart-items);
    font-size: 10px;
    height: 18px;
    width: 22px;
    border-radius: 40%;
    color: hsl(0, 0%, 100%);
    font-weight: 600;

    background-color: hsl(26, 100%, 55%);
    position: absolute;
    top: -15px;
    right: -10px;
  }
}
