@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Kumbh Sans';
    font-style: normal, bold, extrabold;
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000;
    font-display: swap;
    src: url(https://fonts.google.com/specimen/Kumbh+Sans) format('woff2');
  }
}
